body {
    display: grid;
    grid-template-columns: 300px auto;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Cabin', sans-serif;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.NavBar {
    background-color: rgb(16, 16, 16);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    text-align: center;
}

.NavButton {
    width: 90%;
    height: 50px;
    padding: 0px 0px;
    color: white;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    font: inherit;
}

.NavButtonSelected {
    background-image: linear-gradient(315deg, rgb(140, 0, 255), rgb(0, 204, 255))
}

.NavButton:hover {
    cursor: pointer;
}

#NavTitleText {
    margin: auto;
    font-size: 40px;
}