:root {
  --corner-radius: 6px;
}

* {
  transition: 200ms;
  scroll-behavior: smooth;
  color: white;
}

body {
  margin: 0;
  background-color: rgb(12, 6, 24);
  font-family: "Cabin", sans-serif;
  font-family: "Questrial", sans-serif;
}

nav {
  height: 70px;
  padding: 0px 20px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 120%;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 130%;
}

button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 14px;
  background-color: rgb(67, 30, 109);
  border-radius: var(--corner-radius);
  border: none 0px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.2);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b1515;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nav-button {
  margin: 0px 5px;
  padding: 10px;
  font-weight: 100;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: var(--corner-radius);
  cursor: pointer;
}

.landing {
  height: 80vh;
  overflow: hidden;
}

.landing-text {
  position: absolute;
  top: 40%;
  left: 10%;
}

.landing-image {
  filter: blur(6px) brightness(0.8);
  translate: 0% -12%;
  width: 135%;
  object-fit: contain;
}

.landing-text > h1 {
  font-size: 5.5vw;
  font-weight: bold;
}

.landing-text > h2 {
  margin: 0px 3px;
  font-size: 2.5vw;
  font-weight: lighter;
}

.content-section {
  padding: 60px 20%;
  font-size: 125%;
}

.tile-viewer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.description-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collapsible-button {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }

  .landing {
    height: 100vh;
  }

  .landing-image {
    translate: -20% 0;
    width: auto;
    height: 100vh;
  }

  .landing-text {
    width: 100%;
    left: 0;
    top: 38%;
    text-align: center;
  }

  .landing-text > h1 {
    font-size: 400%;
  }

  .landing-text > h2 {
    font-size: 160%;
  }
}

@media screen and (max-width: 800px) {
  .content-section {
    padding: 60px 5%;
  }

  .tile-viewer {
    grid-template-columns: auto;
  }
}
